*.fa
*~
simple-genome-reads-corr.sam
simple-genome-reads.fa.corr
simple-genome-reads.mut
simple-genome-reads.sam
simple-genome-sam-corr-mismatches.pos
simple-genome-sam-mismatches.pos
simple-genome.1.bt2
simple-genome.2.bt2
simple-genome.3.bt2
simple-genome.4.bt2
simple-genome.fa.fai
simple-genome.rev.1.bt2
simple-genome.rev.2.bt2
*.bt2
*.kh
*.kh.info
*.fq
*.fq.gz
*.keep.gz
*.pos
*.sam
*.fa.fai
ecoli-subset.100k.stats.txt
ecoli_dn_counts.out
ecoli_quake_list.txt
error_model.ecoli-subset.100k.txt
jellyfish
rseq-mapped.fq.gz.corr
2015-wok-error-correction.html
